In [1]:
import os
os.getcwd()

'/opt/ml/level1_imageclassification-cv-17'

In [14]:
import csv
import pandas as pd
test_dir = '../input/data/eval/'
submission = pd.read_csv(os.path.join(test_dir, 'info.csv'))
# 비교할 두 개의 csv 파일 경로 설정
mask_file = './redo_sm/mask_redo/output.csv' #비교할 csv
gender_file = './redo_sm/gender_redo/output.csv' 
age_file = './redo_sm/age_out_sang.csv'

ans=0
all_predictions=[]
with open(mask_file, 'r') as file1, open(gender_file, 'r') as file2, open(age_file, 'r') as file3:
    reader1 = csv.reader(file1)
    reader2 = csv.reader(file2)
    reader3 = csv.reader(file3)
       
    for row1, row2,row3 in zip(reader1, reader2,reader3):
        if row1[1]!='ans' and row2[1]!='ans' and row3[1]!='ans':
            ans=6*int(row1[1])+3*int(row2[1])+int(row3[1])
            all_predictions.append(ans)
            
submission['ans'] = all_predictions
save_dir = './redo_sm/'
submission.to_csv(os.path.join(save_dir, 'multi.csv'), index=False)
print('test inference is done!')

test inference is done!

In [15]:
result = pd.read_csv('./redo_sm/output (5).csv')
result

                                            ImageID  ans
0      cbc5c6e168e63498590db46022617123f1fe1268.jpg   13
1      0e72482bf56b3581c081f7da2a6180b8792c7089.jpg    2
2      b549040c49190cedc41327748aeb197c1670f14d.jpg   14
3      4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg   13
4      248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg   12
...                                             ...  ...
12595  d71d4570505d6af8f777690e63edfa8d85ea4476.jpg    2
12596  6cf1300e8e218716728d5820c0bab553306c2cfd.jpg    4
12597  8140edbba31c3a824e817e6d5fb95343199e2387.jpg    9
12598  030d439efe6fb5a7bafda45a393fc19f2bf57f54.jpg    1
12599  f1e0b9594ae9f72571f0a9dc67406ad41f2edab0.jpg    7

[12600 rows x 2 columns]

In [16]:
result['ans_2']= submission.ans.tolist()
result[result.ans != result.ans_2]

                                            ImageID  ans  ans_2
1      0e72482bf56b3581c081f7da2a6180b8792c7089.jpg    2      5
2      b549040c49190cedc41327748aeb197c1670f14d.jpg   14     17
3      4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg   13     16
16     b1b1aa65544324d9ebc89b3deb4a714f4d1d7ea3.jpg    2      5
21     0401671e6a939afe97d6c30bc820fbfe9519286a.jpg    2      5
...                                             ...  ...    ...
12579  22bb37a67f6f37dbd6f931fea41d1e4838c76a75.jpg    2      5
12582  437986350ece248f78812ba4bfa71a285c1da2a3.jpg    1      4
12588  36f8431c43541a2edeec685d593d48cd711b379b.jpg    1      2
12589  7895dd8d29b91962ff7648ce0b1494b07fe91313.jpg    0      3
12598  030d439efe6fb5a7bafda45a393fc19f2bf57f54.jpg    1      3

[3721 rows x 3 columns]

In [ ]:
from efficientnet_pytorch import EfficientNet
mask_model = models.efficientnet_b3(pretrained=True)

In [23]:
import torchvision.models as models

In [24]:
models.efficientnet_b3(pretrained=True)

AttributeError: module 'torchvision.models' has no attribute 'efficientnet_b3'

In [20]:
rank1 = pd.read_csv('./f17385.csv')
rank1['ans_my'] = submission.ans.tolist()
rank1['ans_sm'] = result.ans.tolist()

In [21]:
rank1[rank1.ans != rank1.ans_my]

                                            ImageID  ans  ans_my  ans_sm
1      0e72482bf56b3581c081f7da2a6180b8792c7089.jpg    2       5       2
2      b549040c49190cedc41327748aeb197c1670f14d.jpg   13      17      14
3      4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg   13      16      13
7      441419a874f4d031cd576850b68539ca7d35bedf.jpg    4       3       3
16     b1b1aa65544324d9ebc89b3deb4a714f4d1d7ea3.jpg    1       5       2
...                                             ...  ...     ...     ...
12589  7895dd8d29b91962ff7648ce0b1494b07fe91313.jpg    0       3       0
12592  b8baa9fb4d8da1dd529c857fc74d91c1abacd19c.jpg    1       2       2
12595  d71d4570505d6af8f777690e63edfa8d85ea4476.jpg    1       2       2
12596  6cf1300e8e218716728d5820c0bab553306c2cfd.jpg    5       4       4
12598  030d439efe6fb5a7bafda45a393fc19f2bf57f54.jpg    1       3       1

[4414 rows x 4 columns]

In [22]:
rank1[rank1.ans != rank1.ans_sm]

                                            ImageID  ans  ans_my  ans_sm
2      b549040c49190cedc41327748aeb197c1670f14d.jpg   13      17      14
7      441419a874f4d031cd576850b68539ca7d35bedf.jpg    4       3       3
16     b1b1aa65544324d9ebc89b3deb4a714f4d1d7ea3.jpg    1       5       2
17     6aa8e1282c5303e18101e3dede784dd1f5c076a0.jpg    1       2       2
21     0401671e6a939afe97d6c30bc820fbfe9519286a.jpg    1       5       2
...                                             ...  ...     ...     ...
12575  ca6b7f3d2ad086b329ffc5ac3178f5ad28323da6.jpg    9       9       3
12586  d1d7f58b124182e10c7a22f26c0861587f9ada2a.jpg    1       2       2
12592  b8baa9fb4d8da1dd529c857fc74d91c1abacd19c.jpg    1       2       2
12595  d71d4570505d6af8f777690e63edfa8d85ea4476.jpg    1       2       2
12596  6cf1300e8e218716728d5820c0bab553306c2cfd.jpg    5       4       4

[1912 rows x 4 columns]